<div class="head">
  <h3 class="title">Today's Sales</h3>
  <span class="flat"
    ><span class="material-symbols-outlined"> ios_share </span>Export</span
  >
</div>
<p class="detail">Sales Summery</p>
<div class="squaer">
  <div class="totalsale">
    <span class="icon1 material-symbols-outlined"> signal_cellular_alt </span>
    <h2 class="text">$1k</h2>
    <p class="center">Total Sales</p>
    <p class="end">+8% form yesterday</p>
  </div>
  <div class="totalorder">
    <span class="icon2 material-symbols-outlined"> description </span>
    <h2 class="text">300</h2>
    <p class="center">Total Order</p>
    <p class="end">+5% from yesterday</p>
  </div>
  <div class="productsold">
    <span class="icon3 material-symbols-outlined"> shoppingmode </span>
    <h2 class="text">5</h2>
    <p class="center">Product Sold</p>
    <p class="end">+1,2% from yesterday</p>
  </div>
  <div class="cus">
    <span class="icon4 material-symbols-outlined"> person_add </span>
    <h2 class="text">8</h2>
    <p class="center">New Customers</p>
    <p class="end">0,5% from yesterday</p>
  </div>
</div>
