<h2>Dashboard</h2>
<div class="container">
  <span class="icon material-symbols-outlined">search</span>
  <p class="search">Search here...</p>
</div>
<!-- flag   -->
<span class="icon2 material-symbols-outlined"> flag_circle</span>
<p class="lan">Eng(US)</p>
<span class="iconn material-symbols-outlined"> expand_more </span>
<!-- </div> -->
<!-- notify -->
<span class="bell material-symbols-outlined"> notifications </span>
<!-- <div> -->
<!-- user -->
<span class="icon0 material-symbols-outlined"> account_circle</span>
<p class="lan1">Admin</p>
<span class="icona material-symbols-outlined"> expand_more </span>
<!-- </div> -->
<!-- </div> -->
