:host {
  display: grid;
  gap: 1.5rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
}
.today {
  width: 700px;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.visit {
  width: 500px;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.total {
  width: 520px;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.cus {
  width: 380px;
  border-radius: 0.5rem;
  margin-left: -200px;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.target {
  width: 310px;
  border-radius: 0.5rem;
  margin-left: -340px;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.pro {
  width: 520px;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.map {
  width: 380px;
  border-radius: 0.5rem;
  margin-left: -200px;
  padding: 0.75rem;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.ser {
  width: 310px;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-left: -340px;
  background: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

total-revenue,
customer-satisfaction,
target {
  grid-row: 2/4;
}

top-product,
map-country,
service-level {
  grid-row: 4/4;
}
